.banner {
    background-image: url("../../assets/gifs/lacoste.gif");
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 30rem;
}

.container {
    background-color: rgba(0, 0, 0, 0.2);
    width: 100%;
    height: 100%;
    display: flex;
}

.content {
    width: 100%;
    height: 100%;
    margin: 0 25vw;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: white;
}

.content h1{
    font-size: 48px;
}

.content p{
    font-size: 22px;
}

.buttonLearnMore{
    height: 3rem;
    width: 20rem;
    background-color: orangered;
    border: 1px solid #FFF;
    border-radius: 15px;
    color: #FFF;
    cursor: pointer;
}

.buttonLearnMore:hover{
    background-color: #FFF;
    border: 1px solid #000;
    color: #000;
}

@media screen and (max-width: 768px) {
    .banner {
        background-position: right;
    }

    .content {
        margin: 0 5vw;
    }
    
    .content h1{
        font-size: 30px;
    }
    
    .content p{
        font-size: 18px;
    }
    
    .buttonLearnMore{
        width: 16rem;
    }
    
    .buttonLearnMore:hover{
        display: none;
    }
}